body html{
    height: 100%;
}

.main{
    background-color: #f3f3f3;
    border-radius: 5px;
    width: 85%;
    margin: 15px auto;
    padding: 15px;
    li{
        list-style:none;
        display: block;
        padding: 10px 0;
        background-color:#bbe8d8;
        color:#0a5b3e;
        margin-bottom: 10px;
        border-radius: 3px;
        font-size:1.2em;
        text-indent: 10px;
    }
}

.main div{
    background-color: #fff;
    padding-top: 10px;
    h2{
        font-size: 1.2em;
        text-align: center;
        color: #000;
    }

    ul{
        padding:10px;
        background-color: #fff;
        color: #000;

        li{
            margin:0;
            border-radius:0;
            border: #d6dbda solid 1px;
            border-collapse: collapse;
            background-color: #fff;
            color: #000;
        }

    }
    button{
        display:inline-block;
        margin: 20px 10px;
        padding: 10px;
        border-radius: 3px;
        border:none;
        background-color: red;
    }

    button:nth-of-type(2){
        background-color: #fff;
        border: grey solid .5px;
    }
}


button{
    display:inline-block;
    margin-left:6.5%;
    padding: 15px;
    border-radius: 3px;
    border:none;
    background-color: #4286f4;
}

.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(56, 56, 56);
    background-color: rgba(56, 56, 56, 0.79);
}

form {
    background-color: #fefefe;
    margin: 15px auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 5px;

    input{
        width: 95%;
        margin: 10px auto;
    }

    div{
        width: 100%;
    }
    button{
        margin: 20px 5%;
        padding: 10px 5%;
        width:40%;
        display: inline-block;
        border-radius: 3px;
        border:none;
        background-color: red;
    }

    button:nth-of-type(2){
        background-color: #fff;
        border: grey solid .5px;
    }
}